<h1><%= @cafe.name %></h1>

t.string "city"
t.string "state"
t.string "speciality"
t.boolean "table_chair_seating"
t.boolean "cushioned_seating"
t.boolean "outdoor_seating"
t.boolean "wifi"
t.boolean "food"
