body {
  margin: 0;
  background-image: url("city-outline-5.png");
  background-repeat: no-repeat;
  color: black;
  font-weight: bold;
  font-family: Arial, Helvetica, sans-serif;
}


div .background {
  opacity: 0.5;
}

.content {
  margin: 10px auto;
  width: 70%;
}

.errors {
  margin: 10px auto;
  width: 70%;
}

div {
  position: initial;
}

.field_with_errors input, .field_with_errors select {
  outline-color: red;
  outline-style: auto;
}

.clearfix {
  overflow: hidden;
}
