body {
  margin: 0;
}

.content {
  margin: 10px auto;
  width: 70%;
}

.errors {
  margin: 10px auto;
  width: 70%;
}

div {
  position: initial;
}

.field_with_errors input, .field_with_errors select {
  outline-color: red;
  outline-style: auto;
}

.clearfix {
  overflow: hidden;

}
