body {
  margin: 0;
  background-image: url("city-outline-5.png");
  background-repeat: no-repeat;
  color: black;
  font-weight: bold;
  font-family: Arial, Helvetica, sans-serif;
}


#tick-mark {
  position: relative;
  display: inline-block;
  width: 30px;
  height: 30px;
}

#tick-mark::before {
  position: absolute;
  left: 50px;
  top: 50%;
  height: 50%;
  width: 3px;
  background-color: #336699;
  content: "";
  transform: translateX(10px) rotate(-45deg);
  transform-origin: left bottom;
}

#tick-mark::after {
  position: absolute;
  left: 50px;
  bottom: 0;
  height: 3px;
  width: 100%;
  background-color: #336699;
  content: "";
  transform: translateX(10px) rotate(-45deg);
  transform-origin: left bottom;
}

div .background {
  opacity: 0.5;
}

.content {
  margin: 10px auto;
  width: 70%;
}

.errors {
  margin: 10px auto;
  width: 70%;
}

div {
  position: initial;
}

.field_with_errors input, .field_with_errors select {
  outline-color: red;
  outline-style: auto;
}

.clearfix {
  overflow: hidden;
}
