<h1><%= link_to @reviews.first.cafe.name, cafe_path(@reviews.first.cafe) %></h1>

<% @reviews.each do |review| %>

  <h2>

  <%= review.user.username %>
    <% if !review.content.empty? %>
    says:
    <% end %>
    <br>
    <h2><% review.rating.times do %>
    *
  <% end %>
  </h2>
  <p><%= review.content %></p>
  <br>
<% end %>


<%= link_to "Add a Review!", new_cafe_review_path(@reviews.first.cafe) %>
